Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.md': prettier --write
'*.{js,ts,html}': eslint --fix

fix: checking navigator type before to determine isMacOs
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

chore: sort methods
  projects/ngx-editor/src/lib/Editor.ts
Due: eslint --fix

docs: update configuration
  README.md
  docs/README.md
  docs/configuration.md
  docs/editor.md
  docs/menu.md
  docs/migration-8-9.md
  docs/reactive-forms.md
  package.json
Due: prettier --write

fix: check navigator type for SSR (#340)
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

release: ngx-editor v9.0.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

Fix issues 343.
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

fix: support query string in links
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

fix: add titles for image and link menu item
  docs/configuration.md
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: prettier --write, eslint --fix

release: ngx-editor v9.0.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: remove e2e tests
  .eslintrc.json
  angular.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/e2e/protractor.conf.js
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/e2e/src/app.po.ts
  projects/demo/e2e/tsconfig.json
Due: eslint --fix

feat: upgrade to angular 12
  angular.json
  package-lock.json
  package.json
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/ngx-editor/package.json
  projects/ngx-editor/src/test.ts
  projects/ngx-editor/tsconfig.lib.json
  projects/ngx-editor/tsconfig.lib.prod.json
  tsconfig.json
Due: eslint --fix

docs: update README.md
  README.md
Due: prettier --write

release: ngx-editor v10.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: regenerate package-lock.json
  package-lock.json
Due: none

fix: add missing rxjs peerDependency
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v10.0.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

fix: make input elements editable
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

chore: update serve script
  package.json
Due: none

release: ngx-editor v10.0.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: remove node matrix
  .github/workflows/tests.yml
Due: none

ci: update workflows
  .github/workflows/tests.yml
Due: none

chore: update devDependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

feat: add markdown shortcuts for bold and italics
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/helpers/public_api.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

chore: remove optional attributes
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

fix: set correct underline shortcut
  projects/ngx-editor/schema/marks.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

release: ngx-editor v10.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

docs: update angular compatibility info
  docs/README.md
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: update tests badge link
  README.md
Due: prettier --write

feat: implement horizontal rule
  angular.json
  package-lock.json
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/icons/horizontal_rule.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/horizontal-rule/horizontal-rule.component.html
  projects/ngx-editor/src/lib/modules/menu/horizontal-rule/horizontal-rule.component.scss
  projects/ngx-editor/src/lib/modules/menu/horizontal-rule/horizontal-rule.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/horizontal-rule/horizontal-rule.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.module.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

chore: update dependencies and devDependencies
  angular.json
  package-lock.json
  package.json
  projects/demo/src/test.ts
  projects/ngx-editor/package.json
  projects/ngx-editor/src/public_api.ts
  projects/ngx-editor/src/test.ts
Due: eslint --fix
