Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --fix
'projects/**/*.html': eslint --fix
'docs/**/*.html': prettier --write
'*.md': prettier --write

chore: update docs dependencies
  docs/package-lock.json
  docs/package.json
Due: none

Add NgxEditorService to public_api.ts (Public API Surface of ngx-editor)
  projects/ngx-editor/src/public_api.ts
Due: eslint --fix

feat: export NgxEditorService (#447)
  projects/ngx-editor/src/public_api.ts
Due: eslint --fix

build(deps): bump devDependencies
  package-lock.json
  package.json
Due: none

chore: update @floating-ui/* dependencies
  projects/ngx-editor/package.json
Due: none

chore: update prosemirror-* dependencies
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v15.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: use nodejs v18
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: none

ci: update dessant/lock-threads to v4
  .github/workflows/lock.yml
Due: none

chore: update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

docs: fix landing page redirection
  docs/src/pages/index.astro
Due: none

chore: fix docs navigation
  docs/astro.config.mjs
  docs/src/pages/index.astro
Due: none

docs: fix home page navigation
  docs/src/pages/index.astro
Due: none

chore: fix docs homepage
  docs/README.md
  docs/src/pages/index.astro
  docs/src/sandbox.config.json
Due: prettier --write

chore: fix sandbox.config.json
  docs/sandbox.config.json
Due: none

chore: fix astro docs configration
  docs/astro.config.mjs
  docs/src/pages/index.astro
Due: none

chore: update astro docs dependencies
  docs/package-lock.json
  docs/package.json
Due: none

chore: cleanup docs configuration
  docs/src/components/HeadSEO.astro
  docs/src/consts.ts
  docs/src/pages/index.astro
Due: eslint --fix

chore: update docs README
  docs/README.md
Due: prettier --write

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: fix links to scripts in docs
  docs/src/components/HeadCommon.astro
Due: none

chore: run prettier on docs folder
  .lintstagedrc.yml
  .prettierrc.yml
  docs/astro.config.mjs
  docs/src/components/HeadSEO.astro
  docs/src/components/Header/AstroLogo.astro
  docs/src/components/Header/Header.astro
  docs/src/components/Header/LanguageSelect.css
  docs/src/components/Header/LanguageSelect.tsx
  docs/src/components/Header/SidebarToggle.tsx
  docs/src/components/Header/SkipToContent.astro
  docs/src/components/LeftSidebar/LeftSidebar.astro
  docs/src/components/RightSidebar/TableOfContents.tsx
  docs/src/components/RightSidebar/ThemeToggleButton.css
  docs/src/components/RightSidebar/ThemeToggleButton.tsx
  docs/src/consts.ts
  docs/src/content/docs/en/examples/collab.md
  docs/src/layouts/MainLayout.astro
  docs/src/pages/index.astro
  docs/src/styles/index.css
  docs/src/styles/theme.css
  docs/tsconfig.json
Due: eslint --fix, prettier --write

docs: fix edit page URL
  docs/src/consts.ts
Due: eslint --fix

chore: cleanup examples in docs
  docs/README.md
  docs/src/consts.ts
Due: eslint --fix, prettier --write

docs: fix edit this page URL
  docs/src/layouts/MainLayout.astro
Due: none

feat: add option to focus at start
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

build: update devDependencies
  package-lock.json
  package.json
Due: none

build: update @floating-ui/* dependencies to v1.2.0
  projects/ngx-editor/package.json
Due: none

build: bump prosemirror-* dependencies
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v15.2.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update project description
  README.md
  projects/ngx-editor/package.json
Due: prettier --write

feat(icons): add support for custom icons in menu
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/Icons.ts
  projects/ngx-editor/src/lib/editor-config.service.ts
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

feat(docs): add docs for custom icons
  docs/src/content/docs/en/introduction.md
  docs/src/content/docs/en/menu.md
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/editor.service.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix, prettier --write

feat(docs): add docs for custom icons
  projects/ngx-editor/src/lib/icons/index.ts
Due: eslint --fix

feat(test): add test for custom menu icons
  projects/ngx-editor/src/lib/icons.spec.ts
Due: eslint --fix

Update docs/src/content/docs/en/introduction.md
  docs/src/content/docs/en/introduction.md
Due: prettier --write
