Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build: update umdModuleIds for module helpers
  projects/ngx-editor/helpers/package.json
Due: none

chore: update prosemirror-view to v1.19.0
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

fix: use px instead of rem
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.scss
Due: none

chore: add engines requirement
  .npmrc
  package-lock.json
  package.json
Due: none

chore: disable angular-cli analytics
  angular.json
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

feat: export default toolbar items
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix

feat: introduce enterkeyhint for mobile integration
  docs/editor.md
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/src/lib/Editor.ts
Due: prettier --write, eslint --fix

feat: support attributes to forward to ProseMirror editor
  docs/editor.md
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/src/lib/Editor.ts
Due: prettier --write, eslint --fix

fix: revert style changes
  projects/demo/src/app/app.component.ts
Due: eslint --fix

feat: support editor attributes (#366)
  docs/editor.md
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/src/lib/Editor.ts
Due: prettier --write, eslint --fix

test: add tests for editor instance
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

release: ngx-editor v11.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: update workflows
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: update dependencies
  projects/ngx-editor/package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

feat: add option to enable/disable features
  projects/demo/src/app/app.component.ts
  projects/ngx-editor/schema/marks.ts
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
  projects/ngx-editor/src/lib/plugins/index.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

release: ngx-editor v11.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

chore: update devDependencies
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

fix: allow insert link without selection
  projects/ngx-editor/src/lib/commands/Link.ts
Due: eslint --fix

release: ngx-editor v11.1.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: publish to gh-pages as github bot
  .github/workflows/npmpublish.yml
Due: none

chore: update deprecated npx commands
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: update to angular v13
  .gitignore
  package-lock.json
  package.json
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/ngx-editor/.browserslistrc
  projects/ngx-editor/commands/ng-package.json
  projects/ngx-editor/commands/package.json
  projects/ngx-editor/helpers/ng-package.json
  projects/ngx-editor/helpers/package.json
  projects/ngx-editor/input-rules/ng-package.json
  projects/ngx-editor/input-rules/package.json
  projects/ngx-editor/ng-package.json
  projects/ngx-editor/schema/ng-package.json
  projects/ngx-editor/schema/package.json
  projects/ngx-editor/src/lib/commands/Heading.ts
  projects/ngx-editor/src/lib/commands/Image.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/TextAlign.ts
  projects/ngx-editor/src/lib/commands/TextColor.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/plugins/image-resize.ts
  projects/ngx-editor/src/lib/plugins/placeholder.ts
  projects/ngx-editor/tsconfig.lib.json
  projects/ngx-editor/utils/ng-package.json
  projects/ngx-editor/utils/package.json
  tsconfig.json
Due: eslint --fix

chore: update deprecated npx scripts
  scripts/install-husky.sh
Due: none

chore: prefer node protocol
  scripts/postbuild.js
  scripts/publishdocs.js
Due: eslint --fix

release: ngx-editor v12.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: remove unused scripts
  .github/workflows/npmpublish.yml
  package-lock.json
  package.json
  scripts/publishdocs.js
Due: eslint --fix

chore: add bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

chore: fix issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: reactive forms reset
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.md
  eslint --fix: any of: *.{js,ts,html}
