Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

release: ngx-editor v14.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: use correct import for rxjs operators
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

chore: update typescript-eslint to v5.31.0
  package-lock.json
  package.json
Due: none

fix: add missing locale for horizontal rule
  projects/ngx-editor/src/lib/Locals.ts
Due: eslint --fix

feat: add support for clear formatting
  docs/menu.md
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/FormatClear.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/icons/format_clear.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: prettier --write, eslint --fix

chore: update Command type implementation
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/FormatClear.ts
  projects/ngx-editor/src/lib/commands/Heading.ts
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/Mark.ts
  projects/ngx-editor/src/lib/commands/TextAlign.ts
Due: eslint --fix

docs: update README.md
  README.md
  docs/README.md
Due: prettier --write

release: ngx-editor v14.2.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: regenerate package-lock.json
  package-lock.json
Due: none

build(deps): update devDependencies
  package-lock.json
  package.json
Due: none

ci: fix lock workflow permissions
  .github/workflows/lock.yml
Due: none

build(desp): bump dependencies to latest
  package-lock.json
  package.json
Due: none

fix: remove deprecated ComponenetFactoryResolver
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

ci: add pages deployment workflow
  .github/workflows/pages.yml
Due: none

docs: fix site URL
  docs/astro.config.mjs
Due: none

docs: fix build base URL
  docs/astro.config.mjs
Due: none

docs: fix index redirect script
  docs/public/default-og-image.png
  docs/src/pages/index.astro
Due: none

docs: update site URL
  docs/astro.config.mjs
Due: none

docs: fix site URL
  docs/astro.config.mjs
  docs/src/components/Header/Header.astro
Due: none

docs: fix baseURL
  docs/src/components/HeadCommon.astro
Due: none

docs: update site logo
  docs/src/components/Header/AstroLogo.astro
  docs/src/components/Header/Header.astro
  docs/src/components/Header/ngx-editor.svg
Due: none

docs: fix sidebar baseURL
  docs/README.md
  docs/src/components/Header/Header.astro
  docs/src/components/LeftSidebar/LeftSidebar.astro
Due: prettier --write

feat: moved link validation pattern to Editor configuration
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

docs: fix edit page urls
  docs/src/layouts/MainLayout.astro
Due: none

fix: fixed link component to survive test
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

docs: updating docs with new linkValidationPattern config option
  docs/src/pages/en/editor.md
Due: prettier --write

feat: add option to set custom link validation pattern (#429)
  docs/src/pages/en/editor.md
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: prettier --write, eslint --fix

fix: set minimum angular version to v14.1
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v15.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update astro dependencies
  docs/package-lock.json
  docs/package.json
Due: none

chore: update @floating-ui/* dependencies
  projects/ngx-editor/package.json
Due: none

chore: update prosemirror-* dependencies
  projects/ngx-editor/package.json
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

release: ngx-editor v15.0.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.md
  eslint --fix: any of: *.{js,ts,html}
