Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.md': prettier --write
'*.{js,ts,html}': eslint --fix

feat: make menu bar wrap to second line if little space is available (issue #383)
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
Due: none

fix: wrap menubar when it overflows the container (#387)
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
Due: none

build: update devDependencies
  package-lock.json
  package.json
Due: none

release: ngx-editor v12.2.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: update github actions to latest
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: none

chore: remove broken badges from README
  README.md
Due: prettier --write

chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

ci: add workflow to close stale issues
  .github/workflows/stale.yml
Due: none

ci: remove stale workflows
  .github/workflows/stale.yml
Due: none

fix: export getDefaultPlugins and getKeyboardShortcuts methods, support building on Windows (#373)
  package-lock.json
  package.json
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/public_api.ts
Due: eslint --fix

fix: replace shell script and run-script-os bits with is-ci. #373
  package-lock.json
  package.json
  scripts/install-husky.sh
Due: none

fix: export getDefaultPlugins and getKeyboardShortcuts methods (#393)
  package-lock.json
  package.json
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/public_api.ts
  scripts/install-husky.sh
Due: eslint --fix

build: bump devDependencies
  package-lock.json
  package.json
Due: none

build: update floating-ui dependencies
  projects/ngx-editor/package.json
Due: none

build: update prosemirror dependencies
  projects/ngx-editor/package.json
Due: none

test: fix mismatched codemirror dependencies
  package-lock.json
  package.json
Due: none

release: ngx-editor v12.2.3
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: changed regex url to an improved one
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

fix: tests regex fixed
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

fix: ngx-editor v12.2.4 release
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: more validator improvements and add https:// on click
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

fix: reset form keep https://
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

build(deps): update devDependencies
  package-lock.json
  package.json
Due: none

build(deps): update @floating-ui/core to v0.7.0
  projects/ngx-editor/package.json
Due: none

build(deps): update @floating-ui/dom to v0.5.0
  projects/ngx-editor/package.json
Due: none

feat: add horizontal_rule menu item
  docs/menu.md
  projects/ngx-editor/helpers/canInsertNode.ts
  projects/ngx-editor/helpers/public_api.ts
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/commands/types.ts
  projects/ngx-editor/src/lib/icons/horizontal_rule.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.scss
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.module.ts
  projects/ngx-editor/src/lib/types.ts
Due: prettier --write, eslint --fix

fix: update typings for attributes
  projects/ngx-editor/src/lib/Editor.ts
Due: eslint --fix

release: ngx-editor v12.3.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update import type declarations
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/Heading.ts
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/commands/Image.ts
  projects/ngx-editor/src/lib/commands/Link.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/Mark.ts
  projects/ngx-editor/src/lib/commands/TextAlign.ts
  projects/ngx-editor/src/lib/commands/TextColor.ts
Due: eslint --fix

chore: add BaseCommand type
  projects/ngx-editor/src/lib/commands/types.ts
Due: eslint --fix

chore: cleanup onChanges function
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

fix: don't register focus plugin twice
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

perf: improve unsubscription logic in editor component
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

fix: improve errors thrown
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/utils/error.ts
  projects/ngx-editor/utils/public_api.ts
Due: eslint --fix

chore: remove unused pipes in floating component
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

fix: set menu item active styles correctly
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.html
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.html
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix

chore: fix floating menu tests
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
Due: eslint --fix
