Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix: Export InjectionToken editor configuration
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/editor.module.ts
Due: eslint --fix

fix: export InjectionToken editor configuration (#398)
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/editor.module.ts
Due: eslint --fix

refactor: cleanup editor module default config
  projects/ngx-editor/src/lib/editor.module.ts
Due: eslint --fix

feat: add option handleScrollToSelection
  projects/ngx-editor/src/lib/Editor.ts
Due: eslint --fix

release: ngx-editor v12.4.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: none

fix: typo (Editor.md)
  docs/editor.md
Due: prettier --write

docs: fix typo (#399)
  docs/editor.md
Due: prettier --write

fix: pin prosemirror types
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v12.4.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

ci: add action to lock closed threads
  .github/workflows/lock.yml
Due: none

ci: fix input for inactive issues
  .github/workflows/lock.yml
Due: none

ci: increase cron interval for lock action
  .github/workflows/lock.yml
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

feat: update prosemirror dependencies
  package-lock.json
  package.json
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/ngx-editor/commands/applyMark.ts
  projects/ngx-editor/commands/removeLink.ts
  projects/ngx-editor/commands/removeMark.ts
  projects/ngx-editor/helpers/getSelectionMarks.ts
  projects/ngx-editor/helpers/markApplies.ts
  projects/ngx-editor/input-rules/auto-link.ts
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/Heading.ts
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/commands/Image.ts
  projects/ngx-editor/src/lib/commands/Link.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/Mark.ts
  projects/ngx-editor/src/lib/commands/TextAlign.ts
  projects/ngx-editor/src/lib/commands/TextColor.ts
  projects/ngx-editor/src/lib/commands/types.ts
  projects/ngx-editor/src/lib/plugins/editable.ts
Due: eslint --fix

feat: update @floating-ui/* dependencies
  projects/ngx-editor/package.json
Due: none

fix: pin all external dependencies
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v13.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: fix dates in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

build: update angular dependencies
  package-lock.json
  package.json
Due: none

ci: update publish scripts
  .github/workflows/npmpublish.yml
  package.json
  scripts/release.sh
Due: none

chore: fix browserslistrc config filename
  projects/demo/.browserslistrc
Due: none

chore: add funding links
  .github/FUNDING.yml
Due: none

chore: update codemirror examples to use v6
  docs/codemirror.md
  package-lock.json
  package.json
  projects/demo/src/app/nodeviews/index.ts
Due: prettier --write, eslint --fix

feat: added custom color picker, Added recently used colors array for recently used colors
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.scss
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
Due: eslint --fix

feat: update to angular v14
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  projects/ngx-editor/package.json
  projects/ngx-editor/schema/public_api.ts
  projects/ngx-editor/schema/schema.ts
  projects/ngx-editor/src/test.ts
  tsconfig.json
Due: eslint --fix

chore: bump dependencies
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v14.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix: typo on ngOnDestroy
  docs/reactive-forms.md
Due: prettier --write

docs: fix typo on ngOnDestroy (#417)
  docs/reactive-forms.md
Due: prettier --write

feat: added mailto support to Link Component
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

feat: add support to mailto links (#423)
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
Due: eslint --fix

build(deps): update floating-ui to v1
  package-lock.json
  package.json
  projects/ngx-editor/package.json
Due: none

build(deps): update prosemirror-schema-list to v1.2.1
  projects/ngx-editor/package.json
Due: none

build(deps): update prosemirror-view to v1.27.0
  projects/ngx-editor/package.json
Due: none

Path conditions:
  prettier --write: any of: *.md
  eslint --fix: any of: *.{js,ts,html}
