Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --fix
'projects/**/*.html':
  - eslint --fix
  - prettier --write
'docs/**/*.html': prettier --write
'*.{md,css,scss,astro,yaml,yml}': prettier --write

docs: update get editor content and ngmodel examples
  docs/src/content/docs/doc-html-doc.md
  docs/src/content/docs/editor.md
  docs/src/content/docs/examples/ng-model.md
Due: prettier --write

fix: support Trusted Types CSP and parse HTML in an inert document
  docs/src/content/docs/doc-html-doc.md
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/parsers.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.spec.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix, prettier --write

test: cover style based parse rules and document allow-duplicates
  docs/src/content/docs/doc-html-doc.md
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix, prettier --write

fix: support Trusted Types CSP and parse HTML in an inert document (#649)
  docs/src/content/docs/doc-html-doc.md
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/editor.spec.ts
  projects/ngx-editor/src/lib/parsers.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.spec.ts
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix, prettier --write

fix(menu): update active menu items in zoneless apps
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix

fix(menu): keep floating menu hidden if selection collapses
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

fix(menu): update active menu items in zoneless apps (#650)
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
Due: eslint --fix

docs: add server-side rendering section and fix usage examples
  README.md
  docs/src/content/docs/introduction.mdx
  docs/src/content/docs/quickstart.mdx
Due: prettier --write

fix(types): remove unimplemented ToolbarCustomMenuItem type
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

fix(types): remove unimplemented ToolbarCustomMenuItem type (#651)
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix

test: add tests for clear formatting function
  projects/ngx-editor/src/lib/commands/FormatClear.spec.ts
Due: eslint --fix

fix: set ordered list start number when typing 1
  projects/ngx-editor/src/lib/defaultPlugins.spec.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

fix: ignore list numbers longer than 9 digits
  projects/ngx-editor/src/lib/defaultPlugins.spec.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

fix: set ordered list start number when typing "1. " (#652)
  projects/ngx-editor/src/lib/defaultPlugins.spec.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

fix(menu): make toolbar a single tab stop with arrow key navigation
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix, prettier --write

fix(menu): include role=button custom items in toolbar navigation
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix

fix(menu): skip disabled custom items in toolbar navigation
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix

fix(menu): keep arrow navigation working from a disabled item
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix

fix(menu): make toolbar a single tab stop with arrow key navigation (#653)
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix, prettier --write

ci: setup npm trusted publish
  .github/workflows/npmpublish.yml
Due: prettier --write

fix(link): skip linkify on paste when schema has no link mark
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(link): skip linkify on paste when schema has no link mark (#654)
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(menu): keep popups and dropdowns within the viewport
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
Due: eslint --fix, prettier --write

fix(menu): center popups under the menu item
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
Due: eslint --fix, prettier --write

fix(menu): limit popup height and position the table popup
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.html
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix, prettier --write

fix(menu): account for popup padding in max height
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
Due: eslint --fix

fix(menu): skip padding subtraction for border-box popups
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
Due: eslint --fix

fix(menu): keep popups and dropdowns within the viewport (#655)
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.html
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/popup-position.directive.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.html
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix, prettier --write

fix(menu): keep popups open when used inside a shadow root
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.shadow-dom.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix

fix(menu): check composed path for clicks inside shadow roots
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.shadow-dom.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix

fix(menu): keep popups open when used inside a shadow root (#656)
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.shadow-dom.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix

fix(link): don't convert decimal numbers to links on paste
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(link): require a host for protocol urls and update autoLink
  projects/ngx-editor/input-rules/auto-link.ts
  projects/ngx-editor/src/lib/auto-link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(link): exclude trailing punctuation and support query urls
  projects/ngx-editor/input-rules/auto-link.ts
  projects/ngx-editor/src/lib/auto-link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(link): keep balanced closing parentheses in pasted links
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

perf(link): count parentheses once when trimming pasted links
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

fix(link): don't convert decimal numbers to links on paste (#657)
  projects/ngx-editor/input-rules/auto-link.ts
  projects/ngx-editor/src/lib/auto-link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.spec.ts
  projects/ngx-editor/src/lib/plugins/link.ts
Due: eslint --fix

docs: add troubleshooting page for duplicate prosemirror packages
  docs/astro.config.ts
  docs/src/content/docs/troubleshooting.md
Due: eslint --fix, prettier --write

fix(icons): render default icons when forRoot has no config
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/icons.spec.ts
Due: eslint --fix

fix(icons): render default icons when forRoot has no config (#658)
  projects/ngx-editor/src/lib/editor.module.ts
  projects/ngx-editor/src/lib/icons.spec.ts
Due: eslint --fix
