Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.md': prettier --write
'*.{js,ts,html}': eslint --fix

fix: set correct peerDependencies
  projects/ngx-editor/package.json
Due: none

chore: update prosemirror dependencies
  projects/ngx-editor/package.json
Due: none

docs: update README
  README.md
  docs/README.md
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

chore: add tslib to dependencies
  projects/ngx-editor/package.json
Due: none

release: ngx-editor v12.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: set correct version in CHANGELOG
  CHANGELOG.md
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

fix: set image attributes during resize
  projects/demo/src/app/doc.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

release: ngx-editor v12.1.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

refactor: use currentColor to apply svg colors
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

chore: regenerate package-lock.json
  package-lock.json
Due: none

docs: update sidebar
  docs/_sidebar.md
Due: prettier --write

fix: active menu item text color
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

fix: replace deprecated substr with substring
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
Due: eslint --fix

perf: use trackBy with ngFor loops
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.html
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
Due: eslint --fix

fix: show active bg color in color palette
  projects/ngx-editor/src/lib/commands/TextColor.ts
  projects/ngx-editor/src/lib/commands/index.ts
Due: eslint --fix

chore: update color variable name
  projects/ngx-editor/src/lib/editor.component.scss
Due: none

release: ngx-editor v12.1.2
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: remove unused imports
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

chore: remove unused helpers
  projects/ngx-editor/helpers/bubblePosition.ts
  projects/ngx-editor/helpers/public_api.ts
Due: eslint --fix

chore: update lint-staged config
  .lintstagedrc.yml
Due: none

refactor: improve positioning floating menu with floating-ui
  docs/floating-menu.md
  docs/index.html
  docs/menu.md
  package-lock.json
  package.json
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: prettier --write, eslint --fix

build: whitelist floating-ui deps
  projects/ngx-editor/ng-package.json
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

chore: remove unused imports
  projects/ngx-editor/helpers/markApplies.ts
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/editor.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

release: ngx-editor v12.2.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

docs: update to codemirror 6 in examples
  docs/codemirror.md
  package-lock.json
  package.json
  projects/demo/src/app/app.component.scss
  projects/demo/src/app/nodeviews/CodeMirror.ts
  projects/demo/src/app/nodeviews/index.ts
  projects/demo/src/app/schema.ts
  projects/demo/src/styles.scss
Due: prettier --write, eslint --fix

chore: fix lint errors
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/demo/src/app/schema.ts
  projects/ngx-editor/helpers/markInputRule.ts
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/EditorCommands.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/Link.ts
  projects/ngx-editor/src/lib/commands/TextColor.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.spec.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

chore: add todo comment for usage of deprecated API
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

chore: update typescript-eslint to v5.12.1
  package-lock.json
  package.json
Due: none

fix: remove extra dom node around image component
  projects/demo/src/app/doc.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

release: ngx-editor v12.2.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

chore: remove unused plugins
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/plugins/index.ts
Due: eslint --fix
