Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --fix
'projects/**/*.html':
  - eslint --fix
  - prettier --write
'docs/**/*.html': prettier --write
'*.{md,css,scss,astro,yaml,yml}': prettier --write

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

release: ngx-editor v19.0.0-beta.1
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

docs: fix not working example in floating-menu.mdx
  docs/src/content/docs/examples/floating-menu.mdx
Due: none

feat: add full HTML table supprt using ProseMirror
  package-lock.json
  package.json
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/commands/table.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/table.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.html
  projects/ngx-editor/src/lib/modules/menu/table/table.component.scss
  projects/ngx-editor/src/lib/modules/menu/table/table.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

feat(signal-migration): input/model migration
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/ngx-editor/src/lib/components/image-view/image-view.component.html
  projects/ngx-editor/src/lib/components/image-view/image-view.component.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.html
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix, prettier --write

feat(signal-migration): output migration
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/ngx-editor/src/lib/components/image-view/image-view.component.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix

test(signal-migration): fixed unit test cases
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
Due: eslint --fix

chore(signal-migration): removed the comment
  projects/ngx-editor/src/lib/components/image-view/image-view.component.ts
Due: eslint --fix

fix(editor): adds tel URL validation to the toolbar link (#622)
  projects/ngx-editor/src/lib/Editor.ts
Due: eslint --fix

fix(editor): adds tel URL validation to the toolbar link (#623)
  projects/ngx-editor/src/lib/Editor.ts
Due: eslint --fix

chore: fix workflow permissiosn
  .github/workflows/tests.yml
Due: prettier --write

ci: fix workflow permissions
  .github/workflows/npmpublish.yml
Due: prettier --write

chore: fix workflow permission (#626)
  .github/workflows/tests.yml
Due: prettier --write

ci: fix workflow permission (#627)
  .github/workflows/npmpublish.yml
Due: prettier --write

feat: implemented required local for link component
  docs/src/content/docs/configuration.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix, prettier --write

fix(trusted-types): guard isHTML to avoid Firefox/Safari crash
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix

fix: guard isHTML to avoid Firefox/Safari crash (#631)
  projects/ngx-editor/src/lib/trustedTypesUtil.ts
Due: eslint --fix

fix: add required locale for link component (#628)
  docs/src/content/docs/configuration.md
  docs/src/content/docs/examples/full-featured-editor.mdx
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
Due: eslint --fix, prettier --write

feat: add NgxEditorValidators export alias
  docs/src/content/docs/examples/reactive-forms.md
  projects/ngx-editor/src/lib/validators.ts
Due: eslint --fix, prettier --write

feat: add NgxEditorValidators export alias (#648)
  docs/src/content/docs/examples/reactive-forms.md
  projects/ngx-editor/src/lib/validators.ts
Due: eslint --fix, prettier --write

ci: update workflows job name
  .github/workflows/tests.yml
Due: prettier --write

fix: handle devin review comments
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix(editor): fix horizontal rule not allowing input on empty editor (#642)
  projects/ngx-editor/src/lib/commands/HorizontalRule.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix: handle review comments
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
Due: eslint --fix

Restore editor usage
  docs/src/content/docs/examples/floating-menu.mdx
Due: none

docs: fix not working example in floating-menu.mdx (#609)
  docs/src/content/docs/examples/floating-menu.mdx
Due: none

refactor: simplify the fix
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

chore: add more tests
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.ngmodel.spec.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix(editor): fix undo clearing out editor after initial load (#638) (#641)
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.ngmodel.spec.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

chore: bump prosemirror table version
  package-lock.json
  package.json
Due: none

chore: fix review bugs
  eslint.config.js
  projects/ngx-editor/ng-package.json
  projects/ngx-editor/package.json
  projects/ngx-editor/src/lib/commands/table.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/table/table.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix, prettier --write

fix: input behaviour on menus
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
Due: eslint --fix

chore: fix lint errors
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.html
Due: eslint --fix, prettier --write

chore: add more tests
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

feat: add full HTML table supprt using ProseMirror (#610)
  eslint.config.js
  package-lock.json
  package.json
  projects/ngx-editor/ng-package.json
  projects/ngx-editor/package.json
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/commands/table.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/editor.spec.ts
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/table.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.html
  projects/ngx-editor/src/lib/modules/menu/table/table.component.scss
  projects/ngx-editor/src/lib/modules/menu/table/table.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

chore: address review comments
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

feat: migrate to use Signal API (#613)
  projects/demo/src/app/components/custom-menu/custom-menu.component.spec.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
  projects/ngx-editor/src/lib/components/image-view/image-view.component.html
  projects/ngx-editor/src/lib/components/image-view/image-view.component.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.ts
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.html
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.html
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.html
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/floating-menu/floating-menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/insert-command/insert-command.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.html
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.html
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/modules/menu/toggle-command/toggle-command.component.ts
  projects/ngx-editor/src/lib/plugins/image-resize.ts
Due: eslint --fix, prettier --write

fix: allow clicking links when editor is disabled by default
  projects/demo/src/app/editor.component.html
  projects/demo/src/app/editor.component.scss
  projects/demo/src/app/editor.component.ts
  projects/ngx-editor/src/lib/editor.component.scss
Due: eslint --fix, prettier --write

test: add tests for zoneless image component
  projects/ngx-editor/src/lib/components/image-view/image-view.component.spec.ts
Due: eslint --fix
