Repository sibiraj-s/ngx-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(commands): toggle lists and blockquotes after select all
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/textSelection.spec.ts
  projects/ngx-editor/src/lib/commands/textSelection.ts
Due: eslint --fix

fix(commands): toggle lists and blockquotes after select all (#659)
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/textSelection.spec.ts
  projects/ngx-editor/src/lib/commands/textSelection.ts
Due: eslint --fix

release: ngx-editor v19.0.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

fix(commands): keep edge horizontal rules when wrapping after select all
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/textSelection.spec.ts
  projects/ngx-editor/src/lib/commands/textSelection.ts
Due: eslint --fix

fix(commands): keep text selection for list wrapping after select all
  projects/ngx-editor/src/lib/commands/ListItem.ts
  projects/ngx-editor/src/lib/commands/textSelection.spec.ts
  projects/ngx-editor/src/lib/commands/textSelection.ts
Due: eslint --fix

fix(commands): keep edge horizontal rules when wrapping after select all (#660)
  projects/ngx-editor/src/lib/commands/Blockquote.ts
  projects/ngx-editor/src/lib/commands/textSelection.spec.ts
Due: eslint --fix

fix(menu): listen for outside clicks only while a popup is open
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.shadow-dom.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/outside-click.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix

fix(menu): listen for outside clicks only while a popup is open (#661)
  projects/ngx-editor/src/lib/modules/menu/color-picker/color-picker.component.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.ts
  projects/ngx-editor/src/lib/modules/menu/image/image.component.ts
  projects/ngx-editor/src/lib/modules/menu/link/link.component.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.shadow-dom.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/outside-click.ts
  projects/ngx-editor/src/lib/modules/menu/table/table.component.ts
Due: eslint --fix

feat(menu): add paragraph option to the heading dropdown
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/Paragraph.spec.ts
  projects/ngx-editor/src/lib/commands/Paragraph.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix(commands): keep each block's attributes when setting paragraph
  projects/ngx-editor/src/lib/commands/Paragraph.spec.ts
  projects/ngx-editor/src/lib/commands/Paragraph.ts
Due: eslint --fix

feat(menu): add paragraph option to the heading dropdown (#662)
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/Paragraph.spec.ts
  projects/ngx-editor/src/lib/commands/Paragraph.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/dropdown/dropdown.component.spec.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix(commands): keep each block's attributes when toggling headings
  projects/ngx-editor/src/lib/commands/Heading.spec.ts
  projects/ngx-editor/src/lib/commands/Heading.ts
  projects/ngx-editor/src/lib/commands/Paragraph.ts
  projects/ngx-editor/src/lib/commands/blockType.ts
Due: eslint --fix

feat(menu): add task list with checkable items
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/TaskList.spec.ts
  projects/ngx-editor/src/lib/commands/TaskList.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/task_list.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/plugins/task-list.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix(menu): uncheck the new item when splitting a checked task
  projects/ngx-editor/src/lib/commands/TaskList.spec.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
Due: eslint --fix

feat(menu): add task list with checkable items (#663)
  docs/src/content/docs/configuration.md
  docs/src/content/docs/menu.md
  projects/ngx-editor/schema/nodes.ts
  projects/ngx-editor/src/lib/Locals.ts
  projects/ngx-editor/src/lib/commands/TaskList.spec.ts
  projects/ngx-editor/src/lib/commands/TaskList.ts
  projects/ngx-editor/src/lib/commands/index.ts
  projects/ngx-editor/src/lib/defaultPlugins.ts
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/icons/index.ts
  projects/ngx-editor/src/lib/icons/task_list.ts
  projects/ngx-editor/src/lib/modules/menu/MenuCommands.ts
  projects/ngx-editor/src/lib/modules/menu/menu.component.ts
  projects/ngx-editor/src/lib/plugins/task-list.ts
  projects/ngx-editor/src/lib/types.ts
Due: eslint --fix, prettier --write

fix(theme): apply css variables consistently across the editor
  docs/astro.config.ts
  docs/src/content/docs/theming.md
  projects/ngx-editor/src/lib/components/image-view/image-view.component.scss
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
Due: eslint --fix, prettier --write

fix(theme): apply css variables consistently across the editor (#664)
  docs/astro.config.ts
  docs/src/content/docs/theming.md
  projects/ngx-editor/src/lib/components/image-view/image-view.component.scss
  projects/ngx-editor/src/lib/editor.component.scss
  projects/ngx-editor/src/lib/modules/menu/bubble/bubble.component.scss
Due: eslint --fix, prettier --write

fix(editor): keep form control pristine when value is written
  projects/ngx-editor/src/lib/editor.component.ngmodel.spec.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
Due: eslint --fix

chore(demo): switch to zoneless change detection
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.html
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
Due: eslint --fix, prettier --write

fix(editor): skip only the form's own write when emitting changes
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

chore(demo): switch to zoneless change detection (#666)
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/components/custom-menu/custom-menu.component.html
  projects/demo/src/app/components/custom-menu/custom-menu.component.ts
Due: eslint --fix, prettier --write

fix(editor): keep value changes for form writes, skip only onChange
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix(editor): skip stale value change after a nested dispatch
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix(editor): skip stale emission only when a nested dispatch changed doc
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

fix(editor): keep form control pristine when value is written (#665)
  projects/ngx-editor/src/lib/Editor.ts
  projects/ngx-editor/src/lib/editor.component.ngmodel.spec.ts
  projects/ngx-editor/src/lib/editor.component.spec.ts
  projects/ngx-editor/src/lib/editor.component.ts
  projects/ngx-editor/src/lib/editor.spec.ts
Due: eslint --fix

release: ngx-editor v19.1.0
  CHANGELOG.md
  projects/ngx-editor/package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: projects/**/*.html)
  prettier --write: ((any of: projects/**/*.html) or (any of: docs/**/*.html)) or (any of: *.{md,css,scss,astro,yaml,yml})
